* {
    margin: 0;
    padding: 0;
    font-family: 'pappins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {

    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px, 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    text-align: center;
}

#btn {


    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#btn img {
    width: 16px;
   
}

.weather-icon{

    margin-top: 62px;
    margin-right: 62px;
    background-image: none;
    margin-left: 42px;
}



h1{
    margin-right: 52px;
}

h2{
    margin-right: 42px;
}

.col{

    margin-top: 12px;
    margin-right: 32px;
    font-size: larger;
    display: flex;
    align-items: center;
    text-align: left;

}

.col img{

    width:40px ;
    margin-right: 10px;

}

.details{
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.humidity, .Wind{

    font-size: 28px;
    margin-top: -6px;
}